main {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

input[type="file"] + label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 24px;
    color: #ffffff;
    background-color: rgb(18, 168, 191);
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"] + label:hover {
    background-color: rgb(15, 141, 160);
}
